footer {
  background-color: rgb(59, 59, 60); /* Cor de fundo azul */
  color: white; /* Cor do texto branco */
  padding: 0px; /* Espaçamento interno */
  text-align: center; /* Centralizar o conteúdo */
  position: fixed; /* Tornar o rodapé fixo */
  bottom: 0; /* Fixar o rodapé na parte inferior da janela */
  width: 100%; /* Largura total */
}
