<h1>O Mundo da Moda</h1>
<div class="carousel slide">
  <div class="carousel-indicators">
    <button
      *ngFor="let slide of slides; let i = index"
      type="button"
      [class.active]="i === activeSlideIndex"
      (click)="showSlide(i)"
      [attr.data-bs-slide-to]="i"
      [attr.aria-current]="i === activeSlideIndex ? 'true' : 'false'"
      [attr.aria-label]="'Slide ' + (i + 1)"
    ></button>
  </div>
  <div class="carousel-inner">
    <div
      *ngFor="let slide of slides; let i = index"
      class="carousel-item"
      [class.active]="i === activeSlideIndex"
    >
      <img [src]="slide.image" class="d-block w-100" [alt]="slide.alt" />
    </div>
  </div>
  <button class="carousel-control-prev" type="button" (click)="prevSlide()">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" (click)="nextSlide()">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
